replicaCount: 1

deploymentStrategy:
  type: Recreate

image:
  repository: linuxserver/sonarr
  pullPolicy: Always
  tag: "latest"

container:
  env:
    TZ: America/Chicago
    PUID: "1000"
    PGID: "1000"

persistence:
  storageClass: ""
  enabled: true
  existingClaim: ""
  accessMode: ReadWriteOnce
  size: 2Gi
  mountPath: /config
  name: config

service:
  type: ClusterIP
  port: 8989

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
  hosts:
    - host: sonarr.test.articops.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: sonarr-test-articops-tls
      hosts:
        - sonarr.test.articops.com

volumes: []
volumeMounts: []
