apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sabnzbd.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ include "sabnzbd.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "sabnzbd.fullname" . }}
    spec:
      initContainers:
        - name: copy
          image: bash
          command: ["bash", "-c", "if [ -f /config/sabnzbd.ini ]; then exit 0; else cp /tmp/sabnzbd.ini /config/sabnzbd.ini; fi"]
          volumeMounts:
          - mountPath: /config
            name: sabnzbd-config
          - mountPath: /tmp/sabnzbd.ini
            subPath: sabnzbd.ini
            name: sabnzbd-config-ini
      containers:
        - name: {{ include "sabnzbd.fullname" . }}  
          image: {{ .Values.sabnzbd.image.repository }}:{{ .Values.sabnzbd.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.sabnzbd.image.pullPolicy }}
          env:
            - name: TZ
              value: {{ quote .Values.sabnzbd.env.tz }}
            - name: PUID
              value: {{ quote .Values.sabnzbd.env.puid }}
            - name: PGID
              value: {{ quote .Values.sabnzbd.env.pgid }}
          ports:
            - containerPort: 8080
              name: {{ include "sabnzbd.fullname" . }}
              protocol: TCP
          resources: {}
          volumeMounts:
            - mountPath: /config
              name: sabnzbd-config
            - mountPath: /tmp/sabnzbd.ini
              subPath: sabnzbd.ini
              name: sabnzbd-config-ini
          {{- if .Values.sabnzbd.additionalMounts }}
            {{- .Values.sabnzbd.additionalMounts | toYaml | nindent 12 }}
          {{- end }}
        - name: vpn
          image: {{ .Values.vpn.image.repository }}:{{ .Values.vpn.image.tag | default "latest" }}
          imagePullPolicy: {{ .Values.vpn.image.pullPolicy }}
          env:
            - name: VPN_SERVICE_PROVIDER
              value: custom
            - name: VPN_TYPE
              value: {{ quote .Values.vpn.env.type | default "wireguard" }}
            - name: VPN_ENDPOINT_IP
              value: {{ quote .Values.vpn.env.vpn_endpoint_ip }}
            - name: VPN_ENDPOINT_PORT
              value: {{ quote .Values.vpn.env.vpn_endpoint_port }}
            {{- if .Values.vpn.env.wg_existing_secret }}
            - name: WIREGUARD_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  key: WIREGUARD_PUBLIC_KEY
                  name: {{ .Values.vpn.env.wg_existing_secret }}
                  optional: false
            - name: WIREGUARD_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  key: WIREGUARD_PRIVATE_KEY
                  name: {{ .Values.vpn.env.wg_existing_secret }}
                  optional: false
            - name: WIREGUARD_PRESHARED_KEY
              valueFrom:
                secretKeyRef:
                  key: WIREGUARD_PRESHARED_KEY
                  name: {{ .Values.vpn.env.wg_existing_secret }}
                  optional: false
            {{- else }}
            - name: WIREGUARD_PUBLIC_KEY
              value: {{ .Values.vpn.env.wg_public_key }}
            - name: WIREGUARD_PRIVATE_KEY
              value: {{ .Values.vpn.env.wg_private_key }}
            - name: WIREGUARD_PRESHARED_KEY
              value: {{ .Values.vpn.env.wg_preshared_key }}
            {{- end }}
            - name: WIREGUARD_ADDRESSES
              value: {{ quote .Values.vpn.env.wireguard_cidr }}
            - name: FIREWALL_INPUT_PORTS
              value: "8080,9090,4191,4143,4140,4190"
            - name: DOT
              value: "off"
            - name: DNS_ADDRESS
              value: {{ quote .Values.vpn.env.dns_address | default "8.8.8.8" }}
          ports:
            - containerPort: 8080
              name: {{ include "sabnzbd.fullname" . }}
              protocol: TCP
          resources: {}
          securityContext:
            allowPrivilegeEscalation: true
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
            privileged: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      volumes:
        - name: sabnzbd-config
        {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (include "sabnzbd.fullname" .) }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        - name: sabnzbd-config-ini
          configMap:
            name: {{ include "sabnzbd.fullname" . }}
            defaultMode: 0777
      {{- if .Values.sabnzbd.additionalVolumes }}
        {{- .Values.sabnzbd.additionalVolumes | toYaml | nindent 8 }}
      {{- end }}