replicaCount: 1

deploymentStrategy:
  type: Recreate

image:
  repository: ghcr.io/advplyr/audiobookshelf
  pullPolicy: Always
  tag: "latest"

container:
  env:
    TZ: America/Chicago

persistence:
  storageClass: ""
  existingClaim: ""
  enabled: true
  accessMode: ReadWriteOnce
  size: 5Gi
  mountPath: /config
  name: config

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
  hosts:
    - host: abs.example.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: audiobookshelf-tls
      hosts:
        - abs.example.com

volumes: []
volumeMounts: []
