replicaCount: 1

deploymentStrategy:
  type: Recreate

image:
  repository: ghcr.io/falcondev-oss/github-actions-cache-server
  pullPolicy: Always
  tag: "latest"

container:
  env:
    URL_ACCESS_TOKEN: superdupersecret
    BASE_URL: http://localhost:3000

persistence:
  storageClass: ""
  existingClaim: ""
  enabled: true
  accessMode: ReadWriteOnce
  size: 2Gi
  mountPath: /data
  name: data

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: gha-cache.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

volumes: []
volumeMounts: []
