replicaCount: 1

deploymentStrategy:
  type: Recreate

image:
  repository: linuxserver/prowlarr
  pullPolicy: Always
  tag: "latest"

container:
  env:
    TZ: America/Chicago
    PUID: "1000"
    PGID: "1000"

persistence:
  storageClass: ""
  existingClaim: ""
  enabled: true
  accessMode: ReadWriteOnce
  size: 2Gi
  mountPath: /config
  name: config

service:
  type: ClusterIP
  port: 9696

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: prowlarr.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

volumes: []
volumeMounts: []
